body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333e48;
  }

  .container {
    display: block;
    width: 100%;
    margin:auto;
    text-align: center;
    padding: 30px 0 30px 0;
  }

  h1 {
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
  }

  h2, h3 {
    padding: 20px 30px 20px 30px;
    text-align: center;
    padding: 20px;
  }

  h4 {
    padding: 20px 30px 0 30px;
    text-align: center;
    padding: 20px;
  }

  p {
    padding: 20px 30px;
    text-align: left;
    font-size: 1.2em;
  }

  /* unvisited link */
  a:link {
    color: orange;
  }

  /* visited link */
  a:visited {
    color: orange;
  }

  /* mouse over link */
  a:hover {
    color: #999;
    text-decoration: unset;
  }

  /* selected link */
  a:active {
    color: orange;
  }


/* .tab-pane {
  padding: 30px;
} */
.nav-bar-nav .nav-item .nav-link {
  font-size: 3em;
}

  .nav-tabs {
 border-top: 1px solid #ccc;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
 border-radius: 5px;
 padding: 5px 5px 0 5px;
 font-weight: bold;
}

/* .nav-tabs>li>a:hover{
  border: 1px solid transparent;
} */

.nav>li>a:focus, .nav>li>a:hover{
	color: #666;
}

ul.nav{
  width:100%;
}
.nav-tabs>li {
    width: 20%;
    padding-left: 30px;
}

  .main-content {
    padding: 30px 50px 0 50px;
  }

  .callout-row {
    background-color: #333e48;
    color: #fff;
  }


  .slidein2 {
  margin-top: 200px;
  animation-duration: 10s;
  animation-name: slidein2;
  /* transition-timing-function: ease-in;
  transition: 5s; */
  transform: translateY(130%);
  animation-iteration-count:infinite;
  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition:opacity 1s ease-in-out;
}
  @keyframes slidein2 {
    from {
      margin-right:100%;
      width:100%
    }

    to {
      margin-left:100%;
      width:100%;
    }
  }

  .slidein3 {
    margin-top: 100px;
    animation-duration: 15s;
    animation-name: slidein3;
    /* transition-timing-function: ease-in;
    transition: 5s; */
    transform: translateY(130%);
    animation-iteration-count:infinite;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
  }
    @keyframes slidein3 {
      from {
        margin-left:100%;
        width:100%
      }

      to {
        margin-right:100%;
        width:100%;
      }
    }

    /* Style the video: 100% width and height to cover the entire window */
/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
} */

#myVideo {
  position: relative;
  display: block;
  width: 1200px;
  height: auto;
  margin: auto;
  /* right: 50px;
  bottom: 0;
  min-width: 80%;
  min-height: 80%; */
  z-index: -10;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.accordion-container {
		position: relative;
		width: 100%;
		border: 1px solid #0079c1;
		border-top: none;
		outline: 0;
		cursor: pointer
}

.accordion-container .article-title {
		display: block;
		position: relative;
		margin: 0;
		padding: 0.625em 0.625em 0.625em 2em;
		border-top: 1px solid #fff;
		font-size: 1.25em;
		font-weight: normal;
		color: #fff;
		cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
		background-color: #5091cd;
		color: white;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
		color: white;
}

.accordion-container .content-entry i {
		position: absolute;
		top: 3px;
		left: 12px;
		font-style: normal;
		font-size: 1.625em;
		font-family: sans-serif;
		color: #fff;
}

.accordion-container .content-entry i:before {
		content: "+ ";
}

.accordion-container .content-entry.open i:before {
		content: "- ";
}

.accordion-content {
		display: none;
		padding-left: 2.3125em;
    color: #000;
    background-color: #fff;
    padding-bottom: 2.3125em;
}

.accordion-content video {
  padding: 30px;
}


#content {
		width: 100%;
}

.accordion-container,
#description {
		width: 90%;
		margin: 1.875em auto;
}

#description p {
		line-height: 1.5;
}

#description h2 {
		text-align: center;
}

@media all and (min-width: 860px) {
		#content {
				width: 70%;
				margin: 0 auto;
		}
}

.col-md-4 {
  display:inline-block;
  position:relative;
  height: 500px;
  width: 100%;
  overflow: auto;
  background-color: orange;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
}

footer {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #333e48;
  color: #fff;
  margin: auto;
  border-top: 10px solid orange;
  text-align: center;
}

.headline-color {
  color: #fff;
}
