<div style="background-color: #f5f5f5;">
    <div class="container py-5">
        <div class="row center py-2">
            <div class="col">
                <h1>Getting Started</h1>
                <p class="text-center">Review Our <a href="https://github.com/occiviccoders/getting-started">Getting Started Guide</a>, along with some helpful tips below:</p>
            </div>
        </div>
        <div class="row center py-2">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <h2 class="headline-color">Find what drives you</h2>
                <p>Working on a community project that you’re passionate about will greatly improve your chances of successful completion.  Your journey will have many roadblocks along the way.  The motivation for what you are building can be a powerful driving force to fall back on.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <h2 class="headline-color">Make it practical</h2>
                <p>For beginners, start off with a small project or simple framework. For more experienced coders, work on something with a reasonable enough scope to be able to complete it. Look for existing data resources before jumping into any heavy coding.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <h2 class="headline-color">Be prepared to learn</h2>
                <p>Whether you're just starting out, or using this as an opportunity to learn an entirely new stack or framework, anything can be achieved with google, patience, persistence, trial & error and some coffee.</p>
            </div>
        </div>
    </div>
</div>