<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" role="tablist">
    <a class="navbar-brand" href="index.html"><img src="./assets/images/OCCC-logo-transp.png" width="100%" alt="OCCC-logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="#about">About Us</a>
        <a class="nav-item nav-link" href="#projects">Projects</a>
        <a class="nav-item nav-link" href="#join-OCCC">Join Us</a>
        </div>
    </div>
</nav>