<div style="background-color: #fff;">
    <div class="container py-5">
        <h1 id="about">Who Are We?</h1>
        <div class="row center py-5">
        <div class="col-md-6 col-lg-6 col-xs-12">
            <span class="fa-stack fa-5x text-muted">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-laptop-code fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Coders</h3>
            <p>We’re a group of coders with a passion to learn and give back to the community.  All experience levels are welcome.  Civic coding is a great way to learn and practice new frameworks.  Experienced coders can share knowledge and use their skills to give back.</p>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
            <span class="fa-stack fa-5x text-muted">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-users fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Leaders</h3>
            <p>We’re a group of community activists, volunteering time to collaborate with local communities, governments, and nonprofits to drive change.  We partner with the community to discover needs and organize technical projects to completion.</p>
        </div>
        </div>
    </div>
  </div>